body, html {
    margin: auto 0;
    background:linear-gradient(to right, darkblue, lightblue);
}

.navbar, .main_body {
    background: lightblue;
}

.main_menu {
    display: flex;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.navbar {
    
}

li {
    list-style: none;
    margin: 5px;
}



.cover {
    background: url(https://wallpapercave.com/wp/cj9krgR.jpg) fixed center;
    background-size: cover;
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design {
    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    color: skyblue;
}

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color: midnightblue;
    padding: 130px;
    margin: 20px;
}

img:hover {
    cursor: progress;
    transition: 1s;
    transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
    .box {
        background-color: rgb(36, 36, 156);
        padding: 150px;
        margin: 30px;
    }
    .design {
        text-align: center;
    }
}

.foot {
    color: orange;
    background: skyblue;
    padding: 3px;
    text-align: center;
}
